.wrapper {
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    box-sizing: border-box;

    width: 400px;
    padding: 20px;

    border: 1px solid var(--secondary-text-color);
    border-radius: 5px;

    margin-bottom: 20px;
}

.label {
    display: inline-block;
    font-size: 18px;

    font-weight: 500;
    margin-bottom: 10px;
}


.input {
    display: block;
    box-sizing: border-box;
    width: 100%;

    outline: 1px solid var(--accent-color);
    border: none;
    border-radius: 5px;

    padding: 10px;
    margin-bottom: 20px;
}

.input:hover,
.input:focus {
    outline: 2px solid var(--accent-color);
}

.link {
    display: block;
    margin-bottom: 20px;
    color: var(--accent-color);

    font-size: 14px;
}

.link:hover,
.link:focus {
    text-decoration: underline;
}

.btn {
    width: 120px;
    height: 40px;
    padding: 5px 10px;

    border: 1px solid var(--accent-color);
    border-radius: 5px;

    color: var(--primary-text-color);
    background-color: var(--bg-color);

    cursor: pointer;
    transition: all var(--transition);
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--bg-color);
    background-color: var(--accent-color);
}
